/*********************************************/
/*@IMPORTS*/
/*********************************************/
@import "vendors/global";
@import "helpers/global";
@import "components/global";
@import "helpers/mixins";
@import "components/sprite";
/*********************************************/
/*FONTS*/
/*********************************************/

$DIN: "D I N Pro", sans-serif;
@include font-face("D I N Pro", "../fonts/DINPro/DINPro", 400, normal, eot ttf woff woff2);
@include font-face("D I N ProBold", "../fonts/DINProBold/DINPro-Bold", 700, normal, eot ttf woff woff2);

/*********************************************/
/*MAIN STYLES*/
/*********************************************/

body {
  font-family: $DIN;
  font-size: 24px;
  font-weight: 400;
  min-width: 320px;
  position: relative;
}



.mainWrapper {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
}

.wrapperBlock {
  position: relative;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: #000;
  }
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}


/*********************************************/
/*TYPOGRAPHY*/
/*********************************************/

/*********************************************/
/*STICKY FOOTER*/
/*********************************************/



/*********************************************/
/*HEADER*/
/*********************************************/

@import "sections/header";

/*********************************************/
/*SECTIONS*/
/*********************************************/

.mainWrapper{
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
}


.bl_offers{
  width: 100%;
  min-height:636px;
  background: url("../img/bg_underheader.jpg") no-repeat 50% 100%;
}




.bl_presentCompany{
  position: relative;
  top: 58px; //////////////////////


  &_name{

    font-family: $DIN;
    font-size: 30px;  //////// 47px
    line-height: 40px;
    color: $color_text;
    font-weight: 400;
    &__black{
      font-family: $DINBold;
      color: $color_text;
      font-weight: 500;
    }
    &__red{
      font-family: $DINBold;
      color: $color_red;
      font-weight: 500;
    }
  }
}

.bl_presentServices{
  margin-top: 54px; /////////////
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &_icon{

    &__key{
      display: inline-block;
      @include sprite($key-icon);
    }
    &__shield{
      display: inline-block;
      @include sprite($shield-icon);
    }
    &__clock{
      display: inline-block;
      @include sprite($clock-icon);
    }
  }

  &__title{
    vertical-align: top;
    color: $color_text;
    font-family: $DIN;
    font-size: 24px;
    font-weight: 600;
    line-height: 50px;
  }

}

.bl_addServices{

  margin-top: 31px; ////////////////////
  width: 100%;


  &__paragraph{
    width: 100%;
    margin-top: 30px; /////

    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
}

.bl_photo{
  &__computer{

    width: 100%;
    position: relative;
    margin-left: 14%;
  }
  &__wrapper{

    height: 100%;

  }


  &__img{

    margin-top: 22%;
    position: absolute;
    z-index:2;
  }
}


.bl_contactUs__button{
  margin-top: 49px; //////////////

  width: 430px;
  height: 61px;
  border-radius: 30px;
  background-color: $color_red;
  color: white;
  font-family: $DIN;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  text-transform: uppercase;
  transition: all, 0.3s;

  &:hover{
    background-color: $color_darkRaspberry;
    transition: all, 0.3s;
  }
}

.bl_advantages{
  margin-top: 80px; ///////////
  width: 100%;

  &__wrapper{
    text-align: center;
    margin: 0 auto;
    width: 100%;

  }

  &__title{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: $color_text;
    font-family: $DIN;
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
    border-bottom: 2px solid $color_red;
  }

  &__allAdvantages{
    margin-top: 39px;
  }
  &__item{
    margin-top: 30px;
    width: 100%;
    min-height:131px;
    background-color: $color_grey;
    border-radius: 50px;
  }

  &__backgroundForIcons{
    float: left;
    position: relative;
    display: inline-block;
    @include sprite($background-for-icons);
  }
//  ICONS

  &__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-clock{
      @include sprite($clock-white-icon);
    }
    &-handsOnKeyboards{
      @include sprite($hands-on-keyboards-icon);
    }
    &-speedometer{
      @include sprite($speedometer-icon);
    }
    &-hands{
      @include sprite($hands-icon);
    }

  }
//  ICONS END

  &__text{

    position: relative;
    left: 55px;
    padding-right: 55px;
    word-wrap: break-word;
    //display: inline-block;
    color: $color_text;
    font-family: $DIN;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;

    strong{
      font-weight: 500;
    }

  }

}

.bl_cost{
  margin-top: 68px; //////////////////////

  width: 100%;
  min-height: 902px;
  background: url("../img/bg_table.png") no-repeat 50% 100%;

  &__wrapper{
    text-align: center;
    margin: 0 auto;
    width: 100%;

  }

  &__title{

    margin-top: 135px; //////////////////

    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    color: $color_text;
    font-family: $DIN;
    font-size: 50px;
    font-weight: 400;
    line-height: 80px;
    border-bottom: 2px solid $color_red;
  }

}
.bl_deadline{
  margin-top: 60px;
  width: 478px; ///////////////////

  &__head{
    position: relative;
    height: 79px;
    width: 100%;
    border-radius: 36px;
    background-color: $color_raspberry;
    overflow: hidden;
    
    &:after{
      content: '';
      position: absolute;
      bottom: -10%;
      width: 100%;
      height: 50%;
      transform: rotate(-6deg) translate(2%, 44%);
      background-color: #89171a;
      z-index:2;
    }


    &_text{
      padding-top: 20px;
      margin-left: 40px;
      color: white;
      font-family: $DIN;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
    }

    &_uppercase{
      text-transform: uppercase;
    }
  }

  &__main{
    position: relative;
    margin-top: -30px;
    width: 100%;
    box-sizing: border-box;
    min-height:219px;
    background-color: #fff;
    border: 2px solid $color_red;

    &_icon{
      position: relative;
      display: inline-block;
      margin-top: 68px;
      margin-left: 47px;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background-color: $color_raspberry;

    }


    &_text{
      display: inline-block;
      margin-top: 96px;
      margin-left: 56px;
      vertical-align: top;
      color: $color_text;
      font-family: $DIN;
      font-size: 47px;
      font-weight: 500;
      line-height: 30px;
    }
  }
}
.bl_deadline__main_icon-clock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include sprite($clock-white-icon);
}



.bl_decoration{


  &__bottomLine{

    &:after{
      content: '';
      position: absolute;
      bottom: -34px;
      left: calc(50% - 2px );
      width: 2px;
      height: 34px;
      background-color: $color_red;
    }
  }
  &__middleLine{

    &:after{
      content: '';
      position: absolute;
      top: 50%;
      width: 47px;
      height: 2px;
      background-color: $color_red;
    }
  }


}
/*********************************************/
/*FOOTER*/
/*********************************************/

@import "sections/footer";

/*********************************************/
/*@IMPORT MEDIA*/
/*********************************************/

@import "helpers/media";
